#wd-assignment-search-bar {
  display: flex;
  /* Allow inline display for icon and input */
  align-items: center;
  /* Align icon and text vertically */
  width: fit-content;
}

#wd-assignment-search-bar input[type="text"] {
  /* Add padding to accommodate icon s*/
  padding-left: 48px;
}